ratings_with_text_ba.txt
ratings_with_text_rb.txt
test copy.ipynb
test.ipynb
ratings_ba.txt
ratings_rb.txt
TODO Alban.txt

__pycache__/
main copy 2.ipynb

data/us_users_txt.csv
data/us_users_ratings.csv

data/us_users_txt_new.pkl

data/adj_climate.csv

data/counts_climate.csv

data/counts_climate_div.csv

data/occurence.csv

data/us_users_txt_rev_adj_processed.csv

data/us_users_txt_rev_complete.csv

data/us_users_txt_rev_with_lang.csv

text_analysis_preprocessing.py
predone_files_text_analysis.zip
counts_climate_tfidf.csv
